appname = todo-api
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true

# Database configuration(PostgreSQL)
POSTGRES_DB=todo_db
POSTGRES_USER=todo_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
